name: Fork CI

on:
  push:
    tags:
      - network-operator-*
    branches:
      - network-operator-*

jobs:
  call-reusable-ci-fork-workflow:
    uses: Mellanox/cloud-orchestration-reusable-workflows/.github/workflows/fork-ci-reusable.yml@main
    with:
      registry-internal: nvcr.io/nvstaging/mellanox
      service-account-username: nvidia-ci-cd
      service-account-email: svc-cloud-orch-gh@nvidia.com
      # For the component name, use the name of the component from https://github.com/Mellanox/network-operator/blob/master/hack/release.yaml
      # Otherwise, it won't be able to update the versions correctly
      components: '[{"name": "nodeFeatureDiscovery", "imageName": "node-feature-discovery", "dockerfile": "Dockerfile.nvidia"}]'
      chart-name: node-feature-discovery
      chart-path: "deployment/helm/node-feature-discovery"
    secrets:
      registry-username: ${{ secrets.NVCR_USERNAME }}
      registry-token: ${{ secrets.NVCR_TOKEN }}
      cicd-gh-token: ${{ secrets.GH_TOKEN_NVIDIA_CI_CD }}
